.feature {
    display: flex;
    margin: 2rem 0;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .feature-image {
  
height: 498px;
top: 1501px;
left: 109px;
gap: 0px;
opacity: 0px;

  }
  
  .feature-content {
    margin-left: 1rem;
    width: 522px;
height: 498px;
top: 1501px;
left: 809px;
gap: 0px;
opacity: 0px;
background: #333399;

  }
  
  .feature h3 {
    font-size: 1.5rem;
    color: #FFFFFF;
    font-family: IBM Plex Sans;
font-size: 30px;
font-weight: 700;
line-height: 57.2px;
letter-spacing: -0.01em;
text-align: center;
padding:10px 40px 10px 10px;

  }
  
  .feature p {
    
    color: #FFFFFF;

    width: Hug (406px)px;
height: Fixed (200px)px;
gap: 16px;
opacity: 0px;
padding: 10px 10px 10px 10px;

  }
  
  .read-more {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .feature {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .feature-image {
      max-width: 80%;
      margin-bottom: 1rem;
    }
  
    .feature-content {
      margin-left: 0;
    }
  }
  